<template >
  <div id="container">
    <div class="flex flex-col">
      <div class="flex justify-center mt-8">
      <img src="@/assets/logo.png" style="width: 183px; height:75px"/>
      </div>
      <h1 class=" mr-20 mt-8 text-3xl leading-normal font-bold text-right" >ورود | عضویت</h1>

      <form class="space-y-4 md:space-y-6 mt-12 mr-20" action="#" @submit.prevent="login">
                  <div class="mb-10">
                      <label for="username" class="block mb-8 text-xl  font-medium text-gray-900 dark:text-white">نام کاربری </label>
                      <input  name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-10/12 p-2.5  h-14" placeholder="لطفا موبایل یا ایمیل خود را وارد نمایید." required="">
                      <small class="mr-1 text-sm" >ورود شما به معنای پذیرش <a>شرایط میفا </a> و <a> قوانین و حریم شخصی </a> است</small>
                  </div>
                  <button :to="{ name: 'auth-verify' }" type="submit" class="w-8/12 mr-10 text-white bg-teal-600 hover:bg-teal-500 focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5  text-center"> تایید</button>
                  </form>
    </div>
  </div>
</template>
<script>

import { ValidationProvider, ValidationObserver } from "vee-validate";
export default {
  components: {

  },
  data(){
    return{

    }
  },
  methods:{
    login(){

    }
  }
};
</script>
<style scoped>
</style>