<template>
  <div>
  
      <horizontal-menu></horizontal-menu>
 
    <section class="pr-20 pl-20">
      <h1 class="mb-8 text-2xl leading-normal font-bold text-right">تنظیم رمز عبور</h1>
      <form>
        <div class="divide-y">
          <div>
            <input
              :type="showPassword ? 'password' : 'text'"
              v-model.trim="password"
              class="py-5 px-100 w-full bg-white focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="رمز عبور  "
            />
            <button
              @click="showPassword = !showPassword"
              class="absolute inset-y-0 left-0 px-4 py-2 text-gray-500"
              :class="{'text-gray-400': showPassword}"
              :aria-label="(showPassword ? 'Hide' : 'Show') + ' password'"
            >
              <i class="fas fa-eye" v-if="!showPassword"></i>
              <i class="fas fa-eye-slash" v-else></i>
            </button>
          </div>
          <div>
            <input
              :type="showPassword ? 'password' : 'text'"
              v-model.trim="confirmPassword"
              class="py-5 px-60 w-full bg-white focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder=" تکرار رمز عبور  "
            />
            <button
              @click="showPassword = !showPassword"
              class="absolute inset-y-0 left-0 px-4 py-2 text-gray-500"
              :class="{'text-gray-400': showPassword}"
              :aria-label="(showPassword ? 'Hide' : 'Show') + ' password'"
            >
              <i class="fas fa-eye" v-if="!showPassword"></i>
              <i class="fas fa-eye-slash" v-else></i>
            </button>
          </div>
          <button
            type="submit"
            class="w-full mt-12 text-white bg-teal-600 hover:bg-teal-500 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >تایید</button>
        </div>
      </form>
    </section>
  </div>
</template>

<script>
import HorizontalMenu from "@/components/HorizontalMenu.vue";
export default {
  data() {
    return {
      password: "",
      confirmPassword: "",
      showPassword: false,
    };
  },
  components: {
    HorizontalMenu,
  },
};
</script>

<style>
/* Import Font Awesome icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
</style>
