
@tailwind base;
@tailwind components;
@tailwind utilities;


#container{ 
width: 600px;
height: 570px;
right: 300px;
background: #FFFFFF;
border-radius: 6px;

}
input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
.navbar{
  bottom: 200px;
  width:100% !important;
  
  

}
.bgClass{
  background: linear-gradient(166.79deg, #FFFFFF -2.84%, #1C9399 83.15%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
  width:100%;
  height:1000px;
}
.textContiner{
  right:500px;
}