<template>
  <div class="navbar">
    <nav class="bg-white border-b-1 ">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 h-16 pt-4">
        <div class="flex items-center">
          <div class="w-1/3">
            <router-link
              to="/"
              class="text-black hover:bg-gray-200 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              <i class="fas fa-file-lines ml-5"></i>
              بلاگ
            </router-link>
          </div>
          <div class="w-1/3 ml-5">
            <img src="@/assets/logo.png" style="width: 113px; height:35px" />
          </div>
          <div class="w-1/3">
            <router-link
              to="/"
              class="text-black hover:bg-gray-200 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              <i class="fas fa-user ml-5"></i>
              حساب کاربری
            </router-link>
            <li class="fas fa-angle-left ml-5"></li>
          </div>
        </div>
      </div>
    </nav>

    <nav class="bg-white border border-slate-200">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <router-link
                  to="/"
                  class="text-black hover:bg-gray-200 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                >
                  <i class="fas fa-home ml-5"></i>
                  خانه
                </router-link>
                <router-link
                  to="/"
                  class="text-black hover:bg-gray-200 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                >
                  <i class="fas fa-info-circle ml-5"></i>
                  تمارین
                </router-link>
                <router-link
                  to="/roadmap"
                  class="text-black hover:bg-gray-200 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                >
                  <i class="fas-thin fa-book-open-reader ml-5"></i>
                  مسیر یادگیری
                </router-link>
                <router-link
                  to="/"
                  class="text-black hover:bg-gray-200 hover:text-white py-2 rounded-md text-sm font-medium"
                >
                  <i class="fas fa-envelope ml-5"></i>
                  تماس با ما
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {};
</script>
<style>
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
</style>

