@import "./base.css";

#app {
  width: 100%;
  margin: 0 auto;
 

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #1D9399;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
