<template>
  <div>
    <nav>
      <horizontal-menu></horizontal-menu>
    </nav>

    <section class="bgClass p-10">
      <div class="border-b-4 w-1/3 textContiner">
        <h1 class="text-3xl text-center text-neutral-700 font-bold mt-5 mb-10">نقشه راه یادگیری</h1>
        <h1 class="text-3xl text-center text-neutral-700 font-bold mb-5">مهارت آیلتس</h1>
      </div>
      <div></div>
      <div class="bg-white w-10/12 h-72 mr-32 mt-28">
        <h1 class="text-2xl pr-10 pt-5 text-blue-700">توصیه مربی</h1>
        <p class="text-xl p-10">
          سلام<br>
          به سطح متوسط از مسير يادگيري آيلتس خوش اومديد<br>
          پيشنهاد مي كنيم براي مشاهد با مطالعه محتواي آموزشي ، مثل يك كلاس درس ، فضاي آرامي رو پيدا كنيد و تمركز بالا داشته باشد. ضمنا يادداشت برداري فراموش نشه .
        </p>
      </div>
      <div class="bg-white w-10/12 h-32 mr-32 mt-28"></div>
    </section>
  </div>
</template>\
<script>
import HorizontalMenu from "@/components/HorizontalMenu.vue";
export default {
  components: {
    HorizontalMenu,
  },
};
</script>